@import url('../../styles/var.css');

.toastContainer {
    position           : fixed;
    max-width          : 300px;
    inset              : 0;
    margin             : 0 auto;
    overflow           : hidden;
    z-index            : 200000;
    display            : flex;
    justify-content    : center;
    align-items        : center;
}
.deleteToast {
    position                             : absolute;
    inset                                : 0;
    margin                               : 0 auto;
    top                                  : 85%;
    background-color                     : red;
    background-color                     : rgba(223, 16, 16, 0.884);
    color                                : white;
    backdrop-filter                      : blur(20px);
    border-radius                        : .5rem;
    display                              : flex;
    flex                                 : 1;
    align-items                          : center;
    height                               : 66px;
    font-size                            : 1rem;
    padding                              : .5rem;
}
.deleteToast {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin         : auto 0;
    margin         : auto;
    overflow       : hidden;
}

.undoBtn {
    background-color: transparent;
    padding         : .5rem;
    color           : white !important;
    border          : 1px solid white;
    border          : 0;
    border-radius   : .5rem;
}

.undoBtn:hover {
    text-decoration    : underline;
}