:root {
    --min-height        : 100dvh;
    --background-primary: white;
    --background-gray   : rgb(236, 236, 236);
    --text-primary      : rgb(28, 28, 65);
    --main-color        : rgb(0, 158, 255);
    --btn-text-primary  : rgb(255, 255, 255);
    --btn-text-secondary: rgb(5 140 192);
    --shadow-primary    : 0 2px 10px 0px rgb(0 0 1 / 30%);
    --shadow-secondary  : 0 2px 10px 0px rgba(48, 48, 48, 0.75);
    --btn-blue          : rgb(51, 153, 255);
    --modal-blur        : 6px;
    --image-size        : 60px;
}

html[theme="dark"] body {
    background-color: rgb(44, 44, 44);
}

html[theme="dark"] main {
    color           : white;
    background-color: rgb(33 33 33);
}

html[theme="dark"] .tools select {
    color              : white;
    /* background-color: rgb(33 33 33); */
}

html[theme="dark"] .tools,
html[theme="dark"] .tools-container>button {
    color           : white;
    background-color: rgb(12, 12, 12);
    box-shadow      : var(--shadow-secondary);
}

html[theme="dark"] .tools-container>button:hover {
    color           : white;
    background-color: rgb(63, 63, 63);
}

html[theme="dark"] .input-text {
    color           : white;
    background-color: rgb(17 17 17);
    box-shadow      : var(--shadow-secondary);
}

html[theme="dark"] .tabItem {
    /* color: var(--btn-text-primary); */
    color           : #d0d0d0;
    background-color: rgba(49, 49, 49, 0.63);
}

html[theme="dark"] .input-text:focus-visible {
    outline: 1px solid rgb(54, 54, 54);
}

html[theme="dark"] button:focus-visible {
    outline: 1px solid rgb(255, 255, 255);
    border : 1px solid rgb(255, 255, 255);
}

html[theme="dark"] .closeSelectBtn>path {
    stroke    : white;
    transition: stroke .1s ease;
}

html[theme="dark"] .nav {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 13.94%, rgb(33 33 33) 54.73%);
}

.closeSelectBtn>path {
    stroke: white;
}